@import '_vars.less';
@import '_fonts.less';
@import '_reset.less';
@import '_libs.less';
@import '_global.less';

.header{
    padding-top: 50px;
    &__inner{
        display: flex;
        align-items: center;
    }
    &__menu{
        margin-left: auto;
        margin-right: 57px;
    }
}
